

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}

body{
  margin-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  margin: 20px 20%;
}

.hdrBackground {
  background-image: url("../../french-soup/images/soup.jpg");
  
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  background-size: cover;
  padding-top: 30px;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1{
  font-size: 8em;
  font-weight: lighter;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

h3{
  font-size: 1.5em;
  font-weight:lighter;
}

ul, ol {
  font-size: 0.8em;
  font-weight: lighter;
  line-height: 30px;
}

.intro, .ingredients, .directions {
  font-size: 1.4em;

}

.images {
  position: relative;
  left: 30%;
  width: 40%;
 
}

